.title{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}
.content{
    display: flex;
    justify-content: center;
    gap: 52px;
    margin: 32px 8px 32px 8px
}

img{
    width: 100px;
    height: auto;
}

div{
    box-sizing: border-box;
}

.photo-text{
    max-width: 200px;
}